body {

}
table{
	border-collapse: collapse;
	width: 100%;
}
td,th{
	border-bottom: 1px solid #dddddd;
	text-align: left;	
}
button{
	background-color:red;
	color:white;
	margin-right: 1%;
	margin-top: 0px;
	margin-bottom: 4px;
	padding : 4px 10px;
	border: none;
	cursor: pointer;
	transition-duration: 0.5s;
}
button:hover{
	background-color: white;
	color: red;
}
input{
	border: 2px solid #dddddd;
	width: 170px;
	height: 15px;
}
tr{
	height: 40px;
}
