<!doctype html>
<html lang="en" ng-app="sampleApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
       <link rel="stylesheet" type="text/css" href="ANTWERP.css" />
    <!-- Angular -->
    <script src="angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>

    <!-- App specific -->
    <script src="app.js"></script>
  </head>
  <body ng-controller="StartCtrl">
      <p>
        <input ng-model="newperson.firstname" placeholder="Naam" type="text" />
        <button ng-click="addPerson()">register</button>
      </p>
      <p>
      <button ng-click="login()">Log in with Facebook</button>
       {{ name }}
      </p>
      <p>
      <!--<a href="#StripeSub">go to subscriptions</a> -->
          <button ng-click="goToSub()">Go to subscriptions</button>
      </p>
   <div ng-view>  
    </div>   
  </body>
</html>
