<!doctype html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>json</title>
      <link rel="stylesheet" type="text/css" href="ANTWERP.css" />
    <!-- Angular -->
    <script src="angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>

    <!-- App specific -->
    <script src="app.js"></script>
  </head>
  <body ng-controller="myCtrl">
      
      Search on google maps:<input id="maps_adres" placeholder=" District Straat Huisnummer" type="text" value=""/>
      <button ng-click="zoek()">View</button>
      Search in list :<input type="text" value="" ng-model="search" />
      <table border="1">
          <tr>
          <td>Naam</td>
          <td>Category</td>
          <td>District</td>
          <td>Straat</td>
          <td>Huisnummer</td>
          </tr>
      <tr ng-repeat="dataObj in dataAnt | filter : search">
          <td>{{dataObj.naam}}</td>
          <td>{{dataObj.category}}</td>
          <td>{{dataObj.district}}</td>
          <td>{{dataObj.straat}}</td>
          <td>{{dataObj.huisnummer}}</td>
      </tr>
      </table>
       <iframe id="maps" width="600" height="450" frameborder="0" style="border:0" src="" allowfullscreen></iframe>
      
       <a href="http://www.buienradar.be" target="_blank"><img border="0" src="http://api.buienradar.nl/image/1.0/radarmapbe?width=250"></a>
     
  </body>
</html>
