<!doctype html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>json</title>

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"> </script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>

  </head>
  <body ng-controller="myCtrl">
      
      Search on google maps:<input id="maps_adres" type="text" value="
Antwerpen Hanzestedenplaats	1"/>
      <button ng-click="zoek()">google maps</button>
      Search :<input type="text" value="" ng-model="search" />
      <table border="1">
      <tr ng-repeat="dataObj in dataAnt | filter : search">
          <td>{{dataObj.naam}}</td>
          <td>{{dataObj.category}}</td>
          <td>{{dataObj.district}}</td>
          <td>{{dataObj.straat}}</td>
          <td>{{dataObj.huisnummer}}</td>
      </tr>
      </table>
       <iframe id="maps" width="600" height="450" frameborder="0" style="border:0" src=""
 allowfullscreen></iframe>

            <script>
          var app = angular.module('myApp', []);
          app.controller('myCtrl', function($scope, $http) {
            $http({
                method : "GET",
                url : "http://datasets.antwerpen.be/v1/infrastructuur/akaartlocatie.json"
            }).then(function mySuccess(response) {
                $scope.dataAnt = response.data.akaartlocatie;
                }, function myError(response) {
                $scope.dataAnt = response.statusText;
            });

            
            $scope.zoek = function(){
                $scope.adres = document.getElementById("maps_adres").value
                console.log($scope.adres);
       document.getElementById("maps").src = "https://www.google.com/maps/embed/v1/search?q=" + $scope.adres +
        "&key=AIzaSyCotgPPX9TvbAEMnYuJaFB7mITVORFKgQI"
            }
            });
          
</script>
      
  </body>
</html>
