<!DOCTYPE html>
<html>
  <head>
    <title>Subscription</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"> </script>
  </head>
  <body ng-app="sampleApp">
    <script type="text/javascript">
      var sampleApp = angular.module('sampleApp', []);
      sampleApp.controller('SubCtrl', function($scope, $http) {
        var getToken = function(successCb) {
          var request = {
            method: 'POST',
            url: 'https://api.stripe.com/v1/tokens',
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded',
              'Authorization': 'Bearer sk_test_aDAMZEgxHl88xZNvrtFWDHjX'
            },
            data: 'card[number]=' + $scope.cardNumber + '&card[exp_month]=' + $scope.cardExpMonth + '&card[exp_year]=' + $scope.cardExpYear + '&card[cvc]=' + $scope.cardCvc
          };
          var errCb = function(err) {
            alert("Wrong " + JSON.stringify(err));
          };
          $http(request).then(function (data) {
            debugger;
            successCb(data["data"]["id"]); // Of data.data.id, is hetzelfde
          }, errCb).catch(errCb);
        };

        var createCustomer = function(token, successCb) {
          var request = {
            method: 'POST',
            url: 'https://api.stripe.com/v1/customers',
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded',
              'Authorization': 'Bearer sk_test_aDAMZEgxHl88xZNvrtFWDHjX'
            },
            data: 'source=' + token
          };
          var errCb = function(err) {
            alert("Wrong " + JSON.stringify(err));
          };
          $http(request).then(function (data) {
            successCb(data.data.id);
          }, errCb).catch(errCb);
        };

        var createSubscription = function(customer, plan, successCb) {
          var request = {
            method: 'POST',
            url: 'https://api.stripe.com/v1/subscriptions',
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded',
              'Authorization': 'Bearer sk_test_aDAMZEgxHl88xZNvrtFWDHjX'
            },
            data: 'plan=' + plan + '&customer=' + customer
          };
          var errCb = function(err) {
            alert("Wrong " + JSON.stringify(err));
          };
          $http(request).then(function (data) {
            successCb()
          }, errCb).catch(errCb);
        };

        var subscribe = function (plan) {
          getToken(function (token) {
            createCustomer(token, function (customer) {
              createSubscription(customer, plan, function (status) {
                alert("Subscribed!");
              });
            });
          });
        };

        $scope.subscribeSilver = function() {
          subscribe('Silver');
        };

        $scope.subscribeGold = function() {
          subscribe('Gold');
        };
      });
    </script>
    <div ng-controller="MainController">
      <h1>Abonneer je op een A-activiteit</h1>

      <input ng-model="cardNumber" type="text" placeholder="Kaartnr" />
      <input ng-model="cardCvc" type="text" placeholder="CVC" />
      <input ng-model="cardExpMonth" type="text" placeholder="MM" />
      <input ng-model="cardExpYear" type="text" placeholder="YYYY" />
      <ul>
        <button ng-click="subscribeSilver()">Silver</button>
            <div>Free</div>
        <button ng-click="subscribeGold()">Gold</button>
          <div>€1.99/maand</div>
          <div>incl. 30 day free trail</div>
           
      </ul>
    </div>
  </body>
</html>
