<!DOCTYPE html>
<html>
  <head>
    <title>Subscription</title>
       <link rel="stylesheet" type="text/css" href="ANTWERP.css" />
    <!-- Angular -->
    <script src="angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>

    <!-- App specific -->
    <script src="app.js"></script>
    <!-- test gegevens
   card[number]=4242424242424242 \
   card[exp_month]=12 \
   card[exp_year]=2018 \
   card[cvc]=123 -->
  </head>
  <body ng-app="sampleApp">
    <div ng-controller="SubCtrl">
      <h1>Abonneer je op een A-activiteit</h1>

      <input ng-model="cardNumber" type="text" placeholder="Kaartnr" />
      <input ng-model="cardCvc" type="text" placeholder="CVC" />
      <input ng-model="cardExpMonth" type="text" placeholder="MM" />
      <input ng-model="cardExpYear" type="text" placeholder="YYYY" />
      <ul>
        <button ng-click="subscribeSilver()">Silver</button>
            <div>Free. [Comming soon!]</div>
        <button ng-click="subscribeGold()">Gold</button>
          <div>€1.99/maand</div>
          <div>incl. 30 day free trail</div>
           
      </ul>
    </div>
  </body>
</html>
